<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bset.hyun.basics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".step6.Step6SummaryActivity"></activity>

        <service
            android:name=".step6.Step6DatabaseService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".step6.Step6DatabaseServiceActivity" />
        <activity android:name=".step6.Step6ConnectStatusActivity" />
        <activity android:name=".step6.Step6DatabaseActivity" />
        <activity android:name=".step6.Step6MainActivity" />
        <activity android:name=".step5.Step5SummaryActivity" />
        <activity android:name=".step5.Step5JSONActivity" />
        <activity android:name=".step5.Step5VolleyActivity" />
        <activity android:name=".step5.Step5HttpActivity" />
        <activity android:name=".step5.Step5ClientActivity" />
        <activity android:name=".step5.Step5AsyncTaskActivity" />
        <activity android:name=".step5.Step5ThreadActivity" />
        <activity android:name=".step5.Step5MainActivity" />
        <activity
            android:name=".step4navigationdrawer.Step4NavigationDrawerActivity"
            android:label="@string/title_activity_step4_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".step4.Step4ViewpagerActivity" />
        <activity android:name=".step4.Step4TabActivity" />
        <activity android:name=".step4.Step4OptionMenuActivity" />
        <activity android:name=".step4.Step4Fragment2Activity" />
        <activity android:name=".step4.Step4FragmentActivity" />
        <activity android:name=".step4.Step4MainActivity" />
        <activity android:name=".step3.Step3CommentWriteActivity" />
        <activity android:name=".step3.Step3SummaryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>